<app-loading *ngIf="loading"></app-loading>

<div class="card bg-dark text-white mb-3">
	<img
		[src]="artist.images | validateImg"
		class="card-img"
		[alt]="artist.name" />
	<div class="card-img-overlay">
		<h5 class="card-title">
			{{ artist.name }}
		</h5>
	</div>
</div>

<table class="table align-middle mb-2">
	<thead>
		<tr>
			<th class="text-muted" scope="col">#</th>
			<th class="text-muted" scope="col">Title</th>
			<th class="text-muted" scope="col">Album</th>
			<th scope="col">
				<i class="text-muted far fa-clock"></i>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let track of topTracks; let i = index">
			<th class="text-muted" scope="row">{{ i + 1 }}</th>
			<td class="title">
				<section class="image">
					<img
						[src]="track.album.images[2].url"
						[alt]="track.name" />
				</section>
				<section class="info">
					{{ track.name }}
					<p class="text-muted">
						{{ track.artists[0].name }}
					</p>
				</section>
			</td>
			<td class="text-muted">{{ track.album.name }}</td>
			<td class="text-muted">
				{{ track.duration_ms | date: 'h:mm' }}
			</td>
		</tr>
	</tbody>
</table>

<div class="d-grid gap-2">
	<button
		[routerLink]="['/search']"
		class="btn btn-outline-success"
		type="button">
		Back
	</button>
</div>
