.searcher
  input
    border-color: black
    border-right: none
    background-color: #212529
    color: whitesmoke
  .clear
    cursor: pointer
    border-color: black
    background-color: #212529
    color: whitesmoke
    i
      color: #6c757d73
  .search
    cursor: pointer
    border-color: black
    background-color: #212529
    color: whitesmoke
    i
      color: #1ED760

.artists
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  gap: 1rem
