<div class="searcher">
	<div class="input-group mb-4">
		<input
			#searchInput
			(keyup.enter)="searchArtists(searchInput)"
			type="text"
			class="form-control"
			placeholder="Artist's name"
			aria-label="Recipient's username"
			aria-describedby="basic-addon2" />
		<span
			*ngIf="searchInput.value !== ''"
			(click)="searchInput.value = ''"
			class="input-group-text clear"
			id="basic-addon1">
			<i class="fas fa-times"></i>
		</span>
		<span
			(click)="searchArtists(searchInput)"
			class="input-group-text search"
			id="basic-addon2">
			<i class="fas fa-search"></i>
		</span>
	</div>
</div>
